menu "I2S Recorder Configuration"

    config EXAMPLE_BIT_SAMPLE
        int "Audio Bit Sample"
        default 16
        help
            Define the number of bits for each sample. Default 16 bits per sample.

    config EXAMPLE_FORMAT_IF_MOUNT_FAILED
        bool "Format SD card if mount failed"
        default y
        help
            Format the SD card if mounting fails.

endmenu